
body {
    border-top: 1ex solid black;
}

#page {
    margin: 0 auto 0 auto;
    font-size: 10px;
    background-color: #F4F4F4; 
    width: 960px;
}

#logo{
    float: left;/*Para poner logo en izq*/
}

#email{
    margin-top: 0;
    text-align: right;
    color: #A5A4A4;
    text-align: top;
    font-family: arial;
}

ul#menu{
    margin-right: 0;
    margin-top: 40px;
    text-align: right;
    list-style-type: none;/*para quitar los puntos de la lista*/
}

ul#menu li{
    display: inline;/*se muetsra en linea horizontal*/ 
    font-family: arial;
    font-weight: bold;
    font-size: 13px;
}	 

ul#menu a{    
    color: #FBB341;/*color de las palabras del menu(naranja)*/
    text-decoration: none;
    padding: 8ex 0ex 8ex 8ex; 
}

ul#menu a:hover{
    color: black;
}

#portfolio a{
    margin: 306px 490px 61px 280px; 
    text-decoration: none;
    color: #FE9B00;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
}

#portfolio{
    background-repeat: no-repeat;
    background-image: url("../images/portfolio_n.png");
    height: 380px;

}

#portfolio a:after{
    content:url("../images/flecha_portfolio.png");
}

.Company {
    font-family: arial;
    font-size: 12px;
    text-align: left;
    display: inline-block;
    width: 280px;
    vertical-align: top;
}

.Middle{
    margin: 0 50px 0 50px;
}

.Company h3{
    border-bottom: 4px solid black;
    font-size: 15px;
}

.Company h3:before {
    content:url("../images/flecha.png");
}
#about p a{
    color: #FBB341;
    text-decoration: none;
    text-size: 12px;
}

#about p a:before{
    content:url("../images/flecha_small.png");
}

#benefits p{
    float: right;
}

#benefits p:before{
    content:url("../images/stick_long.png");
    float: left;
    padding: 0 14px 0 0;
}

#our_portfolio h3 {
    font-family: arial;
    font-size: 15px;  
}

#our_portfolio h3:before {
    content:url("../images/flecha.png");
}

#our_portfolio { 
    width: 960px; 
}
.ImageCenter{
    margin: auto auto auto 28px;
}
.Information {
    font-family: arial;
    font-size: 12px;
    text-align: left;
}

#information{
    display: inline-block;
    width: 960px;
}

#blog h4:before {
    content:url("../images/flecha_small.png");
}

#blog {
    float: left;
    width: 665px;
}

#contact h4:before {
    content:url("../images/flecha_small.png");
}

#contact {
    width: 220px;
    float: right;
}

#contact a{
    padding: 1ex 1ex 0 0;
}

#footer{
    display:inline-block;
    background-color: #EDEDED;
    height: 102px;
    width: 960px;
}

#logo_small{
    width: 120px;
 
float: right;
}

#footer p{
    font-family: arial;
    font-size: 12px;
    color: black;
}

ul#menu_footer{
    list-style-type:none;
    text-align: left;
    margin-left: -42px;
}

ul#menu_footer li{
    font-family: arial;
    font-size: 12px;
    display: inline;
}

ul#menu_footer a{
    color: black;
    text-decoration: none;
    padding: 2px;
}

